* {
    box-sizing: border-box;
    overflow: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #555;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header {
    background-color: coral;
    color: #fff;
}

#navbar {
    background-color: #333;
    color: #fff;
}

#navbar ul {
    padding: 0;
    list-style: none;
}

#navbar li {
    display: inline;
}

#navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;
}

#showcase {
    background: url('https://img.freepik.com/premium-photo/abstract-illustration-white-light-coral-colors_665346-22042.jpg') no-repeat center center/cover;
    height: 300px;
    margin-bottom: 30px;
    text-align: center;
}

#showcase h1 {
    font-size: 50px;
    line-height: 1.6em;
    padding-top: 30px;
}

#main {
    float: left;
    width: 70%;
    padding: 0 30px;
}

#sidebar {
    float: right;
    width: 30%;
    background-color: #333;
    color: white;
    padding: 10px;
}

#main-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media screen and (max-width:600px) {

    #main {
        width: 100%;
        float: none;
    }

    #sidebar {
        width: 100%;
        float: none;
    }
}